
<!-- <div class="container">
  <app-navi></app-navi>
    <div class="row">
      <div class="col-md-3">
        
        <app-brand></app-brand>
        <app-color></app-color>
      </div>
      <div class="col-md-9">
        <app-car></app-car>
         <app-customer></app-customer>
        <app-rental></app-rental> 
        <router-outlet></router-outlet>
      </div>
    </div>
  </div> -->

  <div class="container-fluid">
    <app-navi></app-navi>
      <div class="row">
        <div class="col-md-2">
          <div class="sticky-top sidebar">
             <!-- <div class="box"><app-brand></app-brand></div>
            <div class="box"><app-color></app-color></div>  -->
          </div>
        </div>  
        <div class="col-md-6 ms-2">
        
          <div class="body"><router-outlet></router-outlet></div>
        </div>
      </div>    
    <!-- <app-footer></app-footer> -->
  </div>






